@import "variables.css";

@import "base.css";

@import "components/buttons.css";
@import "components/sidebar.css";
@import "components/cards.css";
@import "components/forms.css";
@import "components/widgets.css";
@import "components/tables.css";
@import "components/dialogs.css";
@import "components/management.css";
@import "components/admin.css";

@import "utilities.css";

@import "pages/login.css";
@import "pages/database-inspector.css";
